
<!--301310019- Prabhjot Malhi Singh  Web  Application Development -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="background: url('/Assests/background2.jpeg') no-repeat center center; background-size: cover;">
  <div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.8); margin: 20px; border-radius: 15px; padding: 20px;">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>

      <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ">
        Prabhjot Malhi Singh</h2>
      <img src="/img/me.jpeg"alt="Prabhjot's Picture" style: width="400px"; height="400px" style="float: right">
      <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: larger; color: azure;">

        I was born in Cauayan City, Philippines, and my name is Prabhjot Malhi Singh. I am an Indian national. 
        I speak English, Punjabi, and Filipino fluently and have a ongoing diploma in Software Engineering Technician from Centennial College. 
        As an aspiring software developer, my strengths are in the areas of design, development, and testing with a particular emphasis on C#, Java, and Python.
        I was able to show my adaptability and commitment in high-pressure situations while managing inventory and interacting with customers at Shoppers Drug Mart via the use of BIMI, PDT, and MMS systems. My expertise includes managing IT projects and creating software for the web, mobile devices, and the cloud.


      </p>

      <a href="/Assests/resume.pdf" target="_blank"> To know more about me. You can acess my Resume Here.</a>


    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   