
<!--301310019- Prabhjot Malhi Singh  Web  Application Development -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="background-color: lightgray;">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>

      <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ">
        Prabhjot Malhi Singh</h2>
      <img src="/img/me.jpeg"alt="Prabhjot's Picture" style: width="400px"; height="400px" style="float: right">
      <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: larger; ">

        "My name is Prabhjot, and I'm a tech-savvy individual with a passion for video storytelling." Aside from photography, I like meeting new people and experiencing new chances in life. My interests include recording unforgettable events, developing connections, and embracing the ever-changing world of technology."
      </p>

      <a href="/Assests/resume.pdf" target="_blank"> To know more about me. You can acess my Resume Here.</a>


    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   