<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container" style="background: url('/Assests/background2.jpeg') no-repeat center center; background-size: cover;">
  <div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.8); margin: 20px; border-radius: 15px; padding: 20px;">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>Contact Us</p>

    <ul>
      <li>Address: 941 Progress Ave, Toronto Ontario</li>
      <li>Email: malhiprabhjot36@gmail.com</li>
      <li>Phone Extension: 645-745-7739</li>
    </ul>

    <blockquote><b>If you have any other concerns, Kindly leave a message below:</b></blockquote>
    
   
    <form action="/submit-form" method="post">
      <input type="submit" value="Submit" style="float: right">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required><br><br>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required><br><br>

      <label for="contact_number">Contact Number:</label>
      <input type="tel" id="contact_number" name="contact_number" required><br><br>

      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required><br><br>

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea><br><br>
    </form>
    <p><a href="http://localhost:9090/">Back to Home</a></p>
  </div>
</main>

<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
