<!--301310019- Prabhjot Malhi Singh  Web  Application Development -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="background-color: lightgray;">
  <div class="jumbotron" >
    <h1 class="display-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Welcome to Our  <%= title %> Page</h1>
    
    <blockquote style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: xx-large;">
      <b>"Welcome to PJ'S STUDIO, where memories are made!" 
    </b></blockquote>
    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large; ">

      We at PJ'S STUDIO believe in the power of video storytelling. Every frame captures a lovely memory, an emotion, or a piece of your unique tale.

      Our aim is to immortalize your memorable moments on film. We're here to bring your vision to life, one frame at a time, whether it's your wedding day, a family reunion, or a personal project.
      
      Enter our creative universe and let us be your storytellers. Explore our portfolio to get inspired and to imagine the magic we can make together.
      
      Thank you for thinking of us as a part of your journey. We can't wait to convert your moments into treasured memories."</p>

    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   