
<!--301310019- Prabhjot Malhi Singh  Web  Application Development -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="background-color: lightgrey;">
  <div class="jumbotron">
    <h1 class="display-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Welcome to <%= title %> page</h1>
    </div>
      <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
          Photography is capturing moments, conveying tales, and painting with light to me. Explore my world via the lens as I highlight some of my favourite projects. 
          Each photograph tells a different story, and I'm eager to share them with you.
         You'll get a sense of my enthusiasm, inventiveness, and devotion to the art of photography here. 
        </b></p>

            
        <div class="jumbotron">
          <img src="/Assests/assest1.jpeg"style: width="400px"; height="400px" style="float: right"> 
          <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" >
            Manila, the capital of the Philippines, is a vibrant metropolis that embodies Southeast Asia's modernity. 
            This dynamic city has a skyline studded with elegant skyscrapers, a flourishing business area, and a cosmopolitan culture that pulses with activity at all hours of the day and night. 
            From world-class shopping and gastronomic pleasures to a thriving tech economy and a vibrant cultural scene, Manila is a contemporary metropolis that never sleeps. Investigate the urban innovations and modern lifestyle that have made Manila an intriguing and forward-thinking destination in the area.

          </p>
         
        </div>
        <div class="jumbotron">
          <img src="/Assests/assest2.jpeg"style: width="400px"; height="400px" style="float: right"> 
          <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" >
            When the sun sets over Naguilian, Isabela, a hidden jewel - Torre de Jardin - comes to life. This park changes into a fascinating fantasy as dusk throws its bewitching spell. The grounds, which have been beautifully manicured and illuminated, take on a mystical aura, creating an atmosphere of absolute romance and tranquillity.

            Stroll down the twisting paths lit by lanterns to uncover the park's secret nooks, which are filled with bright blossoms and elegant fountains. The Torre's beautiful design shines brightly at night, providing a wonderful setting for an evening of leisure and introspection.


          </p>
         
        </div>

        <div class="jumbotron">
          <img src="/Assests/assest3.jpeg"style: width="500px"; height="300px" style="float: left;"> 
          <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large; text-align: left;">
            Christmas in the Philippines is a season of love, kindness, and unity, with the colourful Christmas orbs representing hope and faith. 
            These handmade spheres serve as a symbol of togetherness, reminding Filipinos of the value of sharing love, giving, and peace.

          </p>
         
        </div>


 </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   