<!--301310019- Prabhjot Malhi Singh  Web  Application Development -->


<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="background-color: lightgray;">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>


    <blockquote><b> The services we offer are listed below
    </b></blockquote>
    

    <ul>
      <li> <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
        We Offer in-home services to have a photo taken within your reach. Additonal Fees Apply. </b></p>
        <img src="/Assests/1.png" style: width="400px"; height="400px" ></li>
      <li> 
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
        We also offer in-venue services to capture the memories to have to enrich within your heart. </b></p>
        <img src="/Assests/2.png" style: width="400px"; height="400px" ></li>
    </ul>
    </div>

        


    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   